<div class="navigation__menu c-overflow" style="display: block; overflow-y: auto; height: auto">
    <ul>
        {% for ques in questions_list %}
            <li class="{% if question.id == ques.id %}navigation__active{% endif %}">
                <a href="{{ url_for('question_blueprint.question', question_id=ques.id) }}">
                    {% if ques.id in questions_answered %}
                        <i class="zmdi zmdi-check-circle zmdi-hc-fw" style="color: #4caf50"></i>
                    {% else %}
                        <i class="zmdi zmdi-flag zmdi-hc-fw"></i>
                    {% endif %}
                    {{ ques.name }} [{{ ques.points }}]
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
