<section id="content">
    <div class="card"
         style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card__header" style="word-wrap: break-word;">
            <h1>
                {{ question.name }}
            </h1>
            <br>
            <h2>
                {{ question.body | safe }}
            </h2>

            <div class="actions">
                <a style="color: #4caf50">
                    <i class="zmdi zmdi-plus-circle zmdi-hc-fw" style="color: #4caf50"></i>{{ question.points }}
                </a>
            </div>
        </div>
    </div>

    {% include 'subtemplates/question-hint.html' %}

    {% include 'subtemplates/question-images.html' %}

    {% include 'subtemplates/question-files.html' %}

    <br>

    {% include 'subtemplates/question-links.html' %}

    {% include 'subtemplates/question-submit.html' %}

</section>
