<br><br><br>

<form method="post" action="{{ url_for('question_blueprint.question', question_id=question.id) }}" autocomplete="off">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input name="answer"
                       id="answer"
                       required
                       class="form-control input-lg"
                       placeholder="Enter the flag as caot{flag}">

                <i class="form-group__bar"></i>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <button name="submit" class="btn btn-success"
                        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>
<br>
